


h1 {
  color: black;
}


body {
    font-family: 'Open Sans', sans-serif;

}
.wy-side-nav-search{
  background-color: black;
}
.wy-side-nav-search input[type=text]{
  border-color: red;
  border-radius: 30px;

}
